

.slider {
	background: black;
}

.slider span {
	display: block;
	background: red;
	height: 50px;
}


@media (min-width: 800px) {
	.a-pane, .b-pane, .c-pane {
		position: absolute;
	}
	.b-pane, .c-pane {
		top: 25px;
		bottom:0;
		overflow-y: scroll;
	}	
	.a-pane{
		top: 0;
		left: 0;
		right: 0;
		height: 25px;
		background: #fff;
	}	
	.b-pane {
		top: 25px;
		left: 0;
		width: 300px;
		/*background: #008000;*/
	}
	.c-pane {
		top: 25px;
		left: 300px;
		right:0;
		background: #0000FF;	
	}		
		
}

@media max-width:799px { 
	
	
	
}