<!-- Generated Code: mustache_templates/app/settings.mustache -->

<div ng-controller="SettingsController">
    <header class="viewHeader clearfix">
        <h1>Settings</h1>
        <div class="headerMenu">
            <button class="swButton" ng-click="flushLocalStorage()" title="flush local storage">flush local storage</button>
            <button class="swButton" ng-click="fetchBulk()" title="fetch bulk">fetch bulk</button>
            <button class="swButton" ng-click="purgeRemote()" title="purge remote data">purge remote data</button>
            <button class="swButton" ng-click="fetchNew()" title="fetch new">fetch new</button>
        </div>
    </header>

</div>
<!-- End Generated Code: mustache_templates/app/settings.mustache -->
