@import (reference) "styles.less";

ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  list-style-type: none;
}

h1,
h2 {
  font-family: @lato;
}

.swContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}



@media(min-width: @screen-sm-min) {
  .largeOnly {
    display: block !important;
  }
  .smallOnly {
    display: none !important;
  }
}

@media(max-width: @screen-xs-max) {
  .largeOnly {
    display: none !important;
  }
  .smallOnly {
    display: block !important;
  }
}

// Links and Buttons
.swTextLink {
  color: @blue;
  &:hover {
    text-decoration: underline;
  }
}
.swButtonLink {
  color: @white1;
  background: @blue;
  padding: 10px;
  &:hover {
    background: @red;
  }
}

.swEclipse {
  width:38px;
  height:38px;
  border-radius:50%;
  font-size:20px;
  line-height:30px;
  text-align:center;
  background: transparent;
}


// Links and Buttons
.swButton {
  margin: 20px auto;
  display: block;
  max-width: 400px;
  padding: 10px;
  background: red;
  color: @white1;
  span,
  i {
    display: inline-block;
    vertical-align: middle;
  }
  i{
    padding-right: 10px;
  }
}


// icons
.loading {
  &:before{
    .fa-spin;
    .fa-pulse;
    content: '\f110';
    font-family: @fa;
  }
}

.showPlayIcon {
  &:before{
    content: '\f04b';
    font-family: @fa;
  }
}

.showPauseIcon {
  &:before{
    content: '\f04c';
    font-family: @fa;
  }
}

// Color Assignemnts
.greenText {
  color: @green;
}
.redText {
  color: @red;
}

//@media(max-width: @screen-xs-max){}
//@media(min-width: @screen-sm-min){} /* deprecated: @screen-tablet, or @screen-sm */
//@media(min-width: @screen-md-min){} /* deprecated: @screen-desktop, or @screen-md */
//@media(min-width: @screen-lg-min){} /* deprecated: @screen-lg-desktop, or @screen-lg */