<!doctype html>
<html lang="en" ng-app="hcApp" ng-controller="AppController">
	<head>
		  <meta charset="UTF-8">gdf
		  <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Herocast</title>
		<link href='css/layout.css' rel='stylesheet' type='text/css'>
		<link href='css/raw.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<div class="a-pane">
			<span ng-controller="NavController">
				<action-bar></action-bar>
			</span>
			<span ng-controller="SubscriptionController">
				<span subscription-add></span>
			</span>
		</div>

		<div class="b-pane">
			<div ng-if="nowPlaying" ng-controller="PlayerController" now-playing></div>
			<div ng-if="nowPlaying" ng-controller="PlayerController" volume-action></div>

			<div ng-controller="SubscriptionController">
				<div ng-if="actionPane == 'episodes'" subscription-action></div>
			</div>

			<div ng-controller="SubscriptionController">
				<div ng-if="actionPane == 'subscriptions'" subscription-action></div>
			</div>

			<div ng-controller="SearchController">
				<div ng-if="actionPane == 'search'" search-action></div>
				<div ng-if="actionPane == 'search' && actionToggle == 'details'" search-detail></div>
				<div ng-if="actionPane == 'search' && actionToggle == 'subscribe'" search-subscribe></div>
			</div>
			<div ng-controller="SettingsController">
				<div ng-if="actionPane == 'settings'" settings-action></div>
			</div>

		</div><!-- End B Pane -->
		<div class="c-pane">
			<h1>{{viewTitle}}</h1>
			<div ng-view></div>
		</div>

		<!-- Import LIBS from CDN instead of require.js -->
		<script src='bower_components/underscore/underscore.js'></script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

		<script src='bower_components/angular/angular.js'></script>
		<script src='bower_components/angular-mocks/angular-mocks.js'></script>
		<script src='bower_components/angular-route/angular-route.js'></script>
		<script src='bower_components/angular-sanitize/angular-sanitize.js'></script>

		<script src='js/modules/app/app.js'></script>
		<script src='js/modules/app/routes.js'></script>

		<script src='js/modules/app/controllers/AppController.js'></script>
		<script src='js/modules/app/controllers/NavController.js'></script>
		<script src='js/modules/app/controllers/SettingsController.js'></script>
		<script src='js/modules/app/controllers/PlayerController.js'></script>

		<script src='js/modules/app/services/PlayerService.js'></script>

		<script src='js/modules/app/directives/NavDirectives.js'></script>
		<script src='js/modules/app/directives/NowPlayingDirective.js'></script>
		<script src='js/modules/app/directives/VolumeActionDirective.js'></script>
		<script src='js/modules/app/directives/ActionBarDirective.js'></script>
		<script src='js/modules/app/directives/SettingsActionsDirective.js'></script>

		<script src='js/modules/media/controllers/EpisodeController.js'></script>
		<script src='js/modules/media/controllers/SubscriptionController.js'></script>
		<script src='js/modules/media/controllers/SearchController.js'></script>

		<script src='js/modules/media/services/MediaService.js'></script>
		<script src='js/modules/media/services/SubscriptionService.js'></script>
		<script src='js/modules/media/services/EpisodeService.js'></script>
		<script src='js/modules/media/services/SearchService.js'></script>

		<script src='js/modules/media/directives/SubscriptionNavDirective.js'></script>


		<script src='js/modules/media/models/Subscription.js'></script>
		<script src='js/modules/media/models/Episode.js'></script>

		<script src='js/modules/media/directives/SubscriptionViewDirective.js'></script>
		<script src='js/modules/media/directives/SubscripitionAddDirective.js'></script>
		<script src='js/modules/media/directives/EpisodeViewDirective.js'></script>
		<script src='js/modules/media/directives/SearchDirective.js'></script>

		<script src='js/modules/media/filters/SubscriptionFilters.js'></script>
		<script src='js/modules/media/filters/EpisodeFilters.js'></script>

		<script src='js/modules/utility/models/Departures.js'></script>

		<script src='js/modules/utility/services/PersistenceService.js'></script>
		<script src='js/modules/utility/services/HelperService.js'></script>
		<script src='js/modules/utility/services/DepartureService.js'></script>

		<script src='js/modules/vendors/services/UnderscoreService.js'></script>


	</body>

</html>
