{{=<% %>=}}
<!-- Generated Code: mustache_templates/ui/navBar.mustache -->
<%# navBar %>
    <div class="swNavBar ">

    <div class="swContainer clearfix">
        12345
        {{toggleStyle}}
        678910
        <div class="col-xs-2 menuToggle smallOnly">
            <a href="#"> <i class="fa fa-bars"></i></a>
        </div>

        <div class="col-md-2 logoWrap">
            <div class="swLogo" href="/" title="Episodes">herocast</div>
        </div>

        <nav class="col-md-8">
            <%# links %>
            <a href="#/<% href %>" title="<% title %>">
                <%# text %><% text %><%/ text %>
                <%# icon %><i class="fa fa-<% icon %>"></i><%/ icon %>
            </a>
            <%/ links %>
        </nav>

        <div class="col-md-2 playerToggle" ng-controller="PlayerController">
            <a id="toggleAudio" ng-click="toggleVisible()">
                <i class="fa {{toggleStyle}}"></i>
            </a>
        </div>
    </div>
    </div>
<%/ navBar %>
<!-- End Generated Code: mustache_templates/ui/navBar.mustache -->
