<!--Generated Code: mustache_templates/media/episodes.mustache -->

<div ng-controller="EpisodeController" class="mediaView">
    <header class="clearfix">
        <h1>Episodes</h1>
        <div class="mediaMenu">
            <a ng-click="setEpisodeStyle('list')"><i class="fa fa-th-list"></i></a>
            <a ng-click="setEpisodeStyle('grid')"><i class="fa fa-th"></i></a>
            <a ng-click="toggleSubscriptionMenu()">Browse By Subscription</a>
        </div>
    </header>
    <div class="subscriptionNavbar">
        <a ng-click="toggleSubscriptionMenu()"><i class="fa fa-close"></i>Close</a>
        <ul class="subscriptionMenu">
            <li>
                <a ng-class="{'selected': EpisodeManager.active.menu == 0}" ng-click="allEpisodes()">
                    All Episodes
                </a>
            </li>
            <li ng-repeat="s in subscriptions| orderByTitle">
                <a ng-class="{'selected': EpisodeManager.active.menu == s.id}" ng-click="episodesBySubscription(s)">
                    {{s.title}}
                </a>
            </li>
        </ul>
    </div>
    <span class="episodeDetails" ng-if="showDetails">
           <span><label>Title: </label>{{episodeDetailer.title}}</span>
           <span><label>description: </label>
           <span ng-bind-html="episodeDetailer.description"></span></span>
           <span><label>watched: </label>{{episodeDetailer.watched}}</span>
           <span><label>bookmark: </label>{{episodeDetailer.bookmark}}</span>
           <span><label>Pub Date: </label>{{episodeDetailer.pub_date}}</span>
           <span><label>Create Date: </label>{{episodeDetailer.create_date}}</span>
           <span><label>Modified Date: </label>{{episodeDetailer.modified_date}}</span>
       </span>
<ul class=" itemWrapper" ng-class="{'list': episodeStyle == 'list', 'grid': episodeStyle == 'grid'}">
    <li class="swItem" ng-repeat="e in episodes| orderByPubDate" >

        <div class="teaser id_{{e.id}}">
            <div class="swDate">{{e.pub_date | date:"MMMM d, yyyy"}}</div>
            <!--<span>{{e.id}}</span>-->
            <!--<span><img src="{{e.img}}"></span>-->
            <div class="swImg"><img src="assets/img/turtle.png"></div>

                <div class="swTitle">{{e.title}}</div>
                <div class="swDescription" ng-bind-html="e.description"></div>
            <a class="toggleDescription largeOnly" ng-click="toggleDetails(e.id)">
                <a class="toggleDescription largeOnly" ng-click="toggleOverlay(e)">
                <!--<i class="fa" ng-class="isExpanded(e.id) ? 'fa-angle-double-down' : 'fa-angle-double-up' "></i>-->
                <i class="fa fa-info"></i>
            </a>
        </div>

            <div ng-controller="PlayerController" class="playerCtrls clearfix">
                    <button ng-click="togglePlayback(e)">
                        
                        <i class="fa fa-{{isPlaying(e)}}"></i>
                        
                    </button>
                    <button ng-click="updateWatched(e)">
                        
                        
                        <i class="{{isWatched(e)}} fa fa-check"></i>
                    </button>
                    <button ng-click="download(e)">
                        
                        <i class="fa fa-download"></i>
                        
                    </button>
                    <button ng-click="copyToServer(e)">
                        
                        <i class="fa fa-server"></i>
                        
                    </button>
                    <button ng-click="toggleDetails(e)">
                        
                        <i class="fa fa-info"></i>
                        
                    </button>
            </div>
        </li>
    </ul>

</div>
<!-- End Generated Code: mustache_templates/media/episodes.mustache -->
