@import (reference) '../styles.less';

.mediaView {
  header {
    background: yellow;
    h1 {
      width: 25%;
      float: left;
    }

    .mediaMenu {
      float: right;
      background: green;
      vertical-align: middle;
      width: 73%;
      text-align: right;
      margin-top: 10px;
    }
  }
}