@import (reference) '../styles.less';

.mediaView {
  header {
    background: yellow;
    h1 {
      @media(min-width: @screen-sm-min){
        width: 45%;
        float: left;
      }

    }

    .mediaMenu {
      //background: green;
      //vertical-align: middle;
      margin-top: 10px;
      @media(min-width: @screen-sm-min){
        width: 53%;
        text-align: right;
        float: right;
      }

      .viewSwitch {
        float: right;
        margin-left: 5px;
        //text-align: center;


        i{
          background: @white1;
          padding: 5px;
          font-size: 20px;
        }
      }
    }
  }
}