{{=<% %>=}}
<!-- Generated Code: mustache_templates/app/settings.mustache -->

<%# settings %>
<div ng-controller="SettingsController">
    <header class="viewHeader clearfix">
        <h1>About</h1>
    </header>

    <div class="swContent">
        <p>This site is a demo of the Herocast project available on Github at:
            <a href="https://github.com/shawnbeta/herocast" title="Herocast on Github">
                https://github.com/shawnbeta/herocast</a>.
        </p>
    </div>

</div>
<%/ settings %>
<!-- End Generated Code: mustache_templates/app/settings.mustache -->
