<!--
{{=<% %>=}}
-->
<!doctype html>
<html lang="en" ng-app="hcApp" ng-controller="AppController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Herocast</title>
    <%# assets %>
        <%# css %>
            <%# remote %> <link href="<% . %>" rel='stylesheet' type='text/css'> <%/ remote %>
            <%# contrib %> <link href="assets/css/<% . %>.css" rel='stylesheet' type='text/css'> <%/ contrib %>
            <%# libs %> <link href="assets/css/<% . %>.css" rel='stylesheet' type='text/css'> <%/ libs %>
        <%/ css %>
    <%/ assets %>
</head>

<body>
<% > player/audio %>
<% > ui/navBar %>

<h1>{{viewTitle}}</h1>
<div ng-view></div>

<%# assets %>
    <%# js %>
        <%# remote %> <script src="<% . %>"></script> <%/ remote %>
        <%# contrib %> <script src="assets/js/contrib/<% . %>.js"></script> <%/ contrib %>
        <%# libs %> <script src="assets/js/scripts/modules/<% . %>.js"></script> <%/ libs %>
    <%/ js %>
<%/ assets %>
</body>

</html>
