{{=<% %>=}}
<!--Generated Code: mustache_templates/app/main.mustache -->
<!doctype html>
<html lang="en" ng-app="hcApp" ng-controller="AppController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Herocast</title>
    <%# assets %>
        <%# css %>
            <%# remote %> <link href="<% . %>" rel='stylesheet' type='text/css'> <%/ remote %>
            <%# contrib %> <link href="assets/css/contrib/<% . %>.css" rel='stylesheet' type='text/css'> <%/ contrib %>
    <%# libs %> <link href="assets/css/libs/<% . %>.css" rel='stylesheet' type='text/css'> <%/ libs %>
    <%# staging %> <link href="assets/styles.min.css" rel='stylesheet' type='text/css'> <%/ staging %>
        <%/ css %>
    <%/ assets %>
</head>

<body>
<% > ui/overlay %>
<% > player/audio %>
<% > player/bubble %>

<div id="stage">
<% > ui/navBar %>
<div ng-view class="swContainer"></div>
</div>

<%# assets %>
    <%# js %>
        <%# remote %> <script src="<% . %>"></script> <%/ remote %>
        <%# contrib %> <script src="assets/js/contrib/<% . %>.js"></script> <%/ contrib %>
<%# libs %> <script src="assets/js/scripts/modules/<% . %>.js"></script> <%/ libs %>
<%# staging %> <script src="assets/main.min.js"></script> <%/ staging %>
    <%/ js %>
<%/ assets %>
</body>

</html>
<!-- End Generated Code: mustache_templates/app/main.mustache -->
