<!--
{{=<% %>=}}
-->
<%# settings %>
<div ng-controller="SettingsController">
    <%# links %>
        <button ng-click="<% action %>()" title="<% title %>"><% title %></button>
    <%/ links %>
</div>
<%/ settings %>
