{{=<% %>=}}
<!-- Generated Code: mustache_templates/app/settings.mustache -->

<%# settings %>
<div ng-controller="SettingsController">
    <h1>Subscriptions</h1>
    <%# links %>
        <button ng-click="<% action %>()" title="<% title %>"><% title %></button>
    <%/ links %>
</div>
<%/ settings %>
<!-- End Generated Code: mustache_templates/app/settings.mustache -->
