
.icon-dropbox:before { content: '\e800'; } /* '' */
.icon-download-alt:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circled2:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-fast-forward:before { content: '\e809'; } /* '' */
.icon-fast-backward:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-download:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\e80d'; } /* '' */
.icon-youtube:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-spin6:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-arrows-cw-1:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */