{{=<% %>=}}
<!--Generated Code: mustache_templates/media/add.mustache -->

<%# addField %>
<div ng-controller="SubscriptionController" class="addField">


    <header class="viewHeader clearfix">
        <h1>Add Subscription</h1>
        <div class="headerMenu">
            <button class="swButton" ng-click="toggleAddView(0)"><i class="fa fa-link"></i>URL</button>
            <!--<button ng-click="toggleAddView(1)"><i class="fa fa-search"></i>Search</button>-->
            <button class="swButton" ng-click="notifyDisabled()"><i class="fa fa-search"></i>Search</button>
        </div>
    </header>




    <div class="srcForm" ng-if="addView == 0">
        <!--<label>Feed URL or Youtube Channel ID</label>-->
        <input type="text" ng-model="addForm.src" placeholder="Feed URL or Youtube Channel ID">
        <select ng-model="addForm.type">
            <%# options %>
                <option value="<% value %>"><% text %></option>
            <%/ options %>
        </select>
        <a ng-click="add()"><i class="fa fa-plus"></i></a>
    </div>

    <div class="searchForm" ng-if="addView == 1">
        <div search-action></div>
        <div search-detail></div>
        <div search-subscribe></div>
    </div>

</div>
<%/ addField %>



<!-- End Generated Code: mustache_templates/media/add.mustache -->
