{{=<% %>=}}
<!--Generated Code: mustache_templates/media/episodes.mustache -->

<div ng-controller="EpisodeController">
    <header>
        <h1>Episodes</h1>
        <a ng-click="setEpisodeStyle('list')"><i class="fa fa-th-list"></i></a>
        <a ng-click="setEpisodeStyle('grid')"><i class="fa fa-th"></i></a>
        <a ng-click="toggleSubscriptionMenu()">Browse By Subscription</a>
    </header>
    <div class="subscriptionNavbar">
        <a ng-click="toggleSubscriptionMenu()"><i class="fa fa-close"></i>Close</a>
        <ul class="subscriptionMenu">
            <li>
                <a ng-class="{'selected': EpisodeManager.active.menu == 0}" ng-click="allEpisodes()">
                    All Episodes
                </a>
            </li>
            <li ng-repeat="s in subscriptions| orderByTitle">
                <a ng-class="{'selected': EpisodeManager.active.menu == s.id}" ng-click="episodesBySubscription(s)">
                    {{s.title}}
                </a>
            </li>
        </ul>
    </div>
    <span class="episodeDetails" ng-if="showDetails">
           <span><label>Title: </label>{{episodeDetailer.title}}</span>
           <span><label>description: </label>
           <span ng-bind-html="episodeDetailer.description"></span></span>
           <span><label>watched: </label>{{episodeDetailer.watched}}</span>
           <span><label>bookmark: </label>{{episodeDetailer.bookmark}}</span>
           <span><label>Pub Date: </label>{{episodeDetailer.pub_date}}</span>
           <span><label>Create Date: </label>{{episodeDetailer.create_date}}</span>
           <span><label>Modified Date: </label>{{episodeDetailer.modified_date}}</span>
       </span>
<ul class=" itemWrapper" ng-class="{'list': episodeStyle == 'list', 'grid': episodeStyle == 'grid'}">
    <li class="swItem" ng-repeat="e in episodes| orderByPubDate" >

        <div class="teaser id_{{e.id}}">
            <span>{{e.pub_date | date:"MMMM d, yyyy"}}</span>
            <!--<span>{{e.id}}</span>-->
            <!--<span><img src="{{e.img}}"></span>-->
            <div class="swImg"><img src="assets/img/turtle.png"></div>

            <div class="swTitle">{{e.title}}</div>
            <div class="swDescription">{{e.description}}</div>
            <a class="toggleDescription" ng-click="toggleDescription(e.id)">
                <i class="fa" ng-class="isExpanded(e.id) ? 'fa-angle-double-down' : 'fa-angle-double-up' "></i>
            </a>
        </div>

        <%# PlayerControls %>
            <div ng-controller="PlayerController" class="playerCtrls clearfix">
                <%# links %>
                    <%# text %><button ng-click="<% action %>(e)"><% text %></button><%/ text %>
                    <%# icon %><button ng-click="<% action %>(e)"><i class="fa fa-<% icon %>"></i></button><%/ icon %>
                    <%# color %><button ng-click="<% action %>(e)"><i class="<% color %> fa fa-<% iconStyle %>"></i></button><%/ color %>
                <%/ links %>
            </div>
        <%/ PlayerControls %>
        </li>
    </ul>

</div>
<!-- End Generated Code: mustache_templates/media/episodes.mustache -->
