{{=<% %>=}}
<!--Generated Code: mustache_templates/media/episodes.mustache -->

<div ng-controller="EpisodeController">
    <h1>Episodes</h1>
    <div class="subscriptionNavbar">
        <ul class="subscriptionMenu">
            <li>
                <a ng-class="{'selected': EpisodeManager.active.menu == 0}" ng-click="allEpisodes()">
                    All Episodes
                </a>
            </li>
            <li ng-repeat="s in subscriptions| orderByTitle">
                <a ng-class="{'selected': EpisodeManager.active.menu == s.id}" ng-click="episodesBySubscription(s)">
                    {{s.title}}
                </a>
            </li>
        </ul>
    </div>
    <span class="episodeDetails" ng-if="showDetails">
           <span><label>Title: </label>{{episodeDetailer.title}}</span>
           <span><label>description: </label>
           <span ng-bind-html="episodeDetailer.description"></span></span>
           <span><label>watched: </label>{{episodeDetailer.watched}}</span>
           <span><label>bookmark: </label>{{episodeDetailer.bookmark}}</span>
           <span><label>Pub Date: </label>{{episodeDetailer.pub_date}}</span>
           <span><label>Create Date: </label>{{episodeDetailer.create_date}}</span>
           <span><label>Modified Date: </label>{{episodeDetailer.modified_date}}</span>
       </span>
<ul>
    <li class="episodeItem" ng-repeat="e in episodes| orderByPubDate" >
        <span>{{e.title}}</span>
        <span>{{e.pub_date | date:"medium"}}</span>
        <span>{{e.id}}</span>
        <span><img src="{{e.img}}"></span>
        <%# PlayerControls %>
            <span ng-controller="PlayerController">
                <%# links %>
                    <button ng-click="<% action %>(e)"><% text %></button>
                <%/ links %>
            </span>
        <%/ PlayerControls %>
        </li>
    </ul>

</div>
<!-- End Generated Code: mustache_templates/media/episodes.mustache -->
