<!--
{{=<% %>=}}
-->
Search
<div ng-controller="SearchController">
    <div ng-if="actionPane == 'search'" search-action></div>
    <div ng-if="actionPane == 'search' && actionToggle == 'details'" search-detail></div>
    <div ng-if="actionPane == 'search' && actionToggle == 'subscribe'" search-subscribe></div>
</div>