{{=<% %>=}}
<!--Generated Code: mustache_templates/media/subscriptions.mustache -->
<%# Subscriptions %>
<div ng-controller="SubscriptionController" class="mediaView">
    <h1>Subscriptions</h1>
    <a ng-click="setSubscriptionStyle('list')">List</a>
    <a ng-click="setSubscriptionStyle('grid')">Grid</a>
    <div class="subscriptions">
        <ul class="swButton" ng-class="{'list': subscriptionStyle == 'list', 'grid': subscriptionStyle == 'grid'}">
            <li class="swItem" ng-repeat="s in subscriptions|orderByTitle">
                <span>{{s.title}}</span></span>
                <span><img src="{{s.img}}"></span>
                <span>
                    <button ng-click="setAutoDownload(s)">{{downloadToggle(s)}}</button>
                    <button ng-click="doRemove(s)">Remove</button>
                </span>
            </li>
        </ul>
    </div>

</div>
<%/ Subscriptions %>
<!-- End Generated Code: mustache_templates/media/subscriptions.mustache -->
