{{=<% %>=}}
<!-- Generated Code: mustache_templates/player/audio.mustache -->
<div ng-controller="PlayerController">

    <div id="actionWrapper">
        <a id="playbackActionButton" ng-click="togglePlayback(playerObj.activeEpisode)" class="{{playerObj.buttonStyle}}">
        </a>
    </div>


<div id="audioPlayer" class="clearfix">
            Now Playing: {{playerObj.activeEpisode.title}}   {{subscription}}
            <div>Time:{{playerObj.counter.hours}}:{{playerObj.counter.minutes}}:{{playerObj.counter.seconds}}</div>
            <button ng-click="setBookmark(playerObj.activeEpisode)"><i class="fa fa-bookmark">bookmark</i></button>
            <button ng-click="engageAudio(playerObj.activeEpisode)">{{playerObj.toggleText}}</button>
            <button ng-click="jumpBack()"><i class="fa fa-angle-double-left">Jump Back</i></button>
            <button ng-click="rewind()"><i class="fa fa-angle-right">RR</i></button>
            <button ng-click="forward()"><i class="fa fa-angle-right">FF</i></button>
            <button ng-click="jumpAhead()"><i class="fa fa-angle-double-right">Jump Ahead</i></button>
            <button ng-click="toggleNowPlayingDetails()"><i class="fa fa-angle-double-right">description</i></button>
    <span ng-if="playerObj.showDetails">
        {{playerObj.activeEpisode.description}}
        {{playerObj.activeEpisode.pub_date}}
    </span>
            <div slider class="slider" min="0" max="9001" step="100">
                <span></span>
            </div>
            <button ng-click="volumeDown()">-</button>
            <button ng-click="setVolumeTo(.1)">A</button>
            <button ng-click="setVolumeTo(.4)">B</button>
            <button ng-click="setVolumeTo(.6)">C</button>
            <button ng-click="setVolumeTo(1)">D</button>
            <button ng-click="volumeUp()">+</button>

</div>
 <audio src="{{playerObj.file}}"></audio>
</div>
</div>
<!-- End Generated Code: mustache_templates/player/audio.mustache -->
