<!--
{{=<% %>=}}
-->

<div ng-if="nowPlaying" ng-controller="PlayerController" now-playing>
    <now-playing></now-playing>
    <volume-action></volume-action>
    <audio ng-show="subscription.type == 'audio'" src="">Audio</audio>
</div>

