
<!--<div ng-controller="PlayerController" id="actionWrapper">-->

    <!--<a id="playbackActionButton" ng-click="togglePlayback(playerObj.activeEpisode)" class="{{playerObj.buttonStyle}}">-->
        <!--skfajdfja;sdkld-->
    <!--</a>-->

<!--</div>-->