<!-- Generated Code: mustache_templates/player/plabackBubble.mustache -->
<a class="playbackBubble" ng-if="player.status != 0">
    <i  ng-class="player.status == 1 ? 'fa fa-play-circle' : 'fa- fa-play'"></i>
</a>
<!-- End Generated Code: mustache_templates/player/main.mustache -->
