<!--
{{=<% %>=}}
<!-- Generated Code: mustache_templates/player/video.mustache -->
<div ng-if="nowPlaying" ng-controller="PlayerController" now-playing></div>
<div ng-if="nowPlaying" ng-controller="VideoController" volume-action>
    <video ng-if="subscription.type == 'video'" src=""></video>
</div>
<!-- End Generated Code: mustache_templates/player/video.mustache -->
